.main-Header {
    display: block;
    background-image: url("image/desk-791178_1920.svg");
    width: 100%;
    min-height: 500px;
    background-position: center;
    background-size: cover;
}
.name-title {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 40px;

    font-family: "Merienda";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.style-for-line {
    width: 50px;
}
.for-coffee-beans {
    width: 30px;
    height: 30px;
}

.info {
    text-align: center;
    margin-top: 20px;
    font-family: "Merienda";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;

    color: #ffffff;
}
button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid white;
    width: 120px;
    height: 30px;

    font-family: "Merienda";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
